<% provide(:title, 'Edition Personnage') %>
<h1>Edition Personnage</h1>
<div class="row">
  <div class="span6 offset3">
    <%= form_for(@personne) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>

        <%= f.label :name %>
	<%= f.text_field :name %>

	<%= f.submit "Modifier Personnage", class: "btn btn-large btn-primary" %>
     <% end %>
   </div>
</div>
