 <header class="navbar navbar-fixed-top">
      <div class="navbar-inner">
	<div class="container">
	  <%= link_to "Assistant d\'ecriture", root_path, id: "logo" %>
	  <nav>
	    <ul class="nav pull-right">
	      <li><%= link_to "Home", root_path %></li>
	      <li><%= link_to "Help", help_path %></li>
	      <li><%= link_to "Chapitres", chapters_path %></li>
              <li><%= link_to "Personnages", personnes_path %></li>
	    </ul>
	 </nav>
       </div>
     </div>
</header>
